<!DOCTYPE html>
<html lang="en">
    {{>header}}

    {{>navbar}}
    <div class="row">
        <div class="col-8">
            <h1>lorem impsum</h1>
        </div>
        <div class="col-4">
            <img src="../public/assets/img/middlewares-en-nodejs-t1.jpg" width="1000px" height="1000px" alt="" class="img-thumbnail">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui nemo asperiores laudantium enim fuga iure corrupti vitae consequuntur, consequatur iusto eaque odit reprehenderit nesciunt sit possimus eos animi error inventore?</p>
        </div>

    </div>
        
    {{>footer}}